<p>
  <strong>
  <%= comment.user.username %>
  </strong> 
  -
  <%= comment.content %> | 
  <em>commented on:
  <%= comment.created_at.strftime("%c")%>
  <% if comment.created_at != comment.updated_at %>
 | <%= comment.updated_at.strftime("%c") %>
  <% end %>
  </em>
  <% if user_signed_in? %>
  <% if current_user && current_user == comment.user || current_user.role == 'admin' %>
  <%= link_to 'Delete', [comment.post, comment],
                 data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  <% end %>
  </p>
</p>
<% end %>
