<div class="text-center">
    <h1 class="card-title py-3 mb-3">Andy's Tech and Art Space</h1>

    <div class="card p-3 mb-3">
        <%= link_to @latest_artwork do %>
        <%= image_tag @latest_artwork.image, class: "img-fluid", style: "width: 50%;"%>
        <% end%>
        <p>
            <strong>Latest Artwork:</strong> <%= @latest_artwork.title%>
        </p>
        <p>
            <hr>
            <%= link_to "All Artworks", artworks_path %>
    </div>
    <div class="card-body py-2">
        <ul class="list-group mb-4">
            <li class="list-group-item"><strong>Blog</strong></li>
            <li class="list-group-item">Recent posts:</li>
            <% @recent_posts.reverse_each do |post| %>
                <li class="list-group-item">
                    <%= link_to post.title, post %> | <%= post.created_at.to_date%>
                </li>
            <% end %>
            <li class="list-group-item"><%= link_to "All Posts", posts_path %></li>
        </ul>
        <ul class="list-group mb-4">
            <li class="list-group-item"><strong>Games and Code</strong></li>
            <li class="list-group-item"><a href="https://github.com/AndyDaMandy" target="_blank">My GitHub</a></li>
            <li class="list-group-item"><a href="https://andydamandy.github.io/Textia" target="_blank">Textia - A browser game</a></li>
            <li class="list-group-item"><a href = "https://andydamandy.github.io/Elden-Ring-Stat-Planner/" target="_blank">Elden Ring Attribute Planner</a></li>
        </ul>
      <ul class="list-group">
            <li class="list-group-item"><strong>Social</strong></li>
            <% if user_signed_in? && current_user.role == 'admin'%>
                <li class="list-group-item"><%= link_to "Create New Link", new_link_path %></li>
            <% end %>
            <% @links.each do |link| %>
                <li class="list-group-item">
                    <a href="<%= link.url %>" target="_blank"><%= link.url_name %></a>
                <% if user_signed_in? && current_user.role == 'admin'%>
                | <%= link_to 'Edit', edit_link_path(link) %> | <%= link_to 'Delete', link, method: :delete, data: { 
                    turbo_method: :delete,
                    turbo_confirm: 'Are you sure?' } %>
                <% end %>
                </li>
            <% end %>
        </ul>
    </div>
</div>