<div id="<%= dom_id medium %>">
  <h2>
    <%= medium.name %>
  </h2>

  <% begin %>
  <div class="mt-3">
    <%= image_tag medium.thumbnail, class: "img-fluid" %>
  </div>
  <% rescue %>
    <p>No image found!</p>
  <% end %>
  <p>
    <strong>Release date:</strong>
    <%= medium.release_date %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= medium.category.humanize.capitalize %>
  </p>

  <p>
    <strong>Platform I'm using (it could be on more than one):</strong>
    <%= medium.platform.humanize.capitalize %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= medium.link %>
  </p>

  <p>
    <strong>Thoughts:</strong>
    <%= medium.thoughts %>
  </p>

  <p>
    <strong>Date started:</strong>
    <%= medium.date_started %>
  </p>

  <p>
    <strong>Date completed:</strong>
    <%= medium.date_completed %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= medium.progress.humanize.capitalize %>
  </p>

</div>
