<div id="<%= dom_id post %>">
  <h1 class="card-title">
    <%= post.title %>
  </h1>

  <p>
   <em><%= post.description %></em>
  </p>
  <p>
  <em>Posted: <%= post.created_at.strftime("%Y-%m-%d %H:%M") %></em>
  </p>
  <hr>
  <div class="card-body text-start">
    <%= post.content %>
  </div>

</div>
