<div class="py-3" id="<%= dom_id post %>">
  <h1 class="card-title mb-3">
    <%= post.title %>
  </h1>

  <h5>
   <em><%= post.description %></em>
  </h5>
  <hr>
  <p>
  By Andy Maldonado
  <br>
  <em>Posted: <%= post.created_at.strftime("%c") %></em>
  </p>
  <hr>
  <div class="card-body text-start mt-2" data-controller="richtext">
    <%= post.content %>
  </div>

</div>
