<div class="text-center">
<h1>Blog</h1>
<% if user_signed_in? %>
  <% if current_user.role == 'admin' %>
  <p><%= link_to "New post", new_post_path %></p>
  <% end %>
<% end %>
<div id="posts" class="list-group">
    <% @posts.each do |post| %>
    <div class="list-group-item">
      <h3><%= link_to post.title, post %></h3>
    <p><em><%= post.description %></em></p>
    <p>Posted: <%= post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
    </div>
    <% end %>
  
</div>
<div>
<%= paginate @posts, theme: 'bootstrap-5',
                   pagination_class: "pagination-sm flex-wrap justify-content-center",
                   nav_class: "d-inline-block" %>
</div>
</div>
